.country {
    display: flex;
    background-color: whitesmoke;
    color: #616161;

    .countryContainer {
        flex: 6;
        background-color: whitesmoke;
        color: #616161;

        .countryList {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;

            .datatableTitle {
                width: 100%;
                height: 80px;
                font-size: 24px;
                color: #616161;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .buttom {
                    /* color: #210876 !important; */
                    color: black !important;
                    background-color: lightgrey !important;
                    box-shadow: 0 2px 4px rgba(97, 97, 97, 0.5);
                    width: 40px;
                    height: 40px;
                }

                .buttom:hover {
                    /* background-color: #b3a4fe !important; */
                    background-color: whitesmoke !important;
                    color: black !important;
                    box-shadow: 0 4px 8px rgba(97, 97, 97, 0.5);
                }
            }

            .table {
                margin-top: 50px;
            }
        }
    }
}