.navbar {
    height: 58px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;

    .navbarContainer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .items {
        display: flex;
        align-items: center;
        margin-left: auto; /* Cambia a auto para que se alinee correctamente */

        .item {
            display: flex;
            align-items: center;
            margin-right: 20px;

            span {
                padding-left: 5px;
            }
        }

        .buttom {
            color: black;
        }

        .icon {
            font-size: 25px;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        height: auto; /* Permite que la altura se ajuste según el contenido */
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
    }

    .navbarContainer {
        flex-direction: column; /* Alinea los elementos verticalmente */
        padding: 5px; /* Reduce el padding */
    }

    .items {
        width: 100%; /* Hace que el contenedor de elementos ocupe el 100% del ancho */
        justify-content: space-around; /* Distribuye los elementos horizontalmente */
        margin-left: 0; /* Elimina el margen izquierdo */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si es necesario */
    }

    .item {
        margin-right: 5px; /* Reduce el margen para pantallas pequeñas */
    }

    .icon {
        font-size: 10px; /* Ajusta el tamaño del icono */
    }

    .icon:last-child {
        margin-right: 0; /* Elimina margen del último icono */
    }
}