.doctorcreateContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  .customTextField {
    & .MuiOutlinedInput-root {
      & fieldset {
        border-color: lightgray;
        /* Cambia 'blue' por el color deseado */
      }

      &:hover fieldset {
        border-color: black;
        /* Cambia el color al pasar el mouse */
      }

      &.Mui-focused fieldset {
        border-color: #210876;
        /* Cambia el color cuando está enfocado */
      }
    }
  }
}

.buttomContainer {
  padding: 10px;
  width: 484.8px;
  display: flex;
  justify-content: space-between;


  .buttom {
    color: black !important;
    background-color: lightgrey !important;
    width: 20ch;
    height: 30px;
  }

  .buttom:hover {
    background-color: #210876 !important;
    color: white !important;
  }
}